@use "../../../assets/SASS/variables" as *;
@media screen and (max-width: 480px) {

  .nav__HighABV{
    display: none;
  }

}

.nav__HighABV {
  color: grey;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 20px;
  margin-left: 17px;
  
}

.nav__HighABV:hover {
  color: black;
  text-decoration: underline;
}
.nav__HighABV {
  font-family: $font-header-solid;
  font-size: 25px;
  font-weight: 900;
}