@media screen and (max-width: 480px) {
main {
  background-image: url("../../assets/images/alexandre-brondino-thFMGJ5uWVo-unsplash\ \(1\).jpg");
  height: 300vh;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}

}

@media screen and (min-width: 480px) {
  main {
    background-image: url("../../assets/images/alexandre-brondino-thFMGJ5uWVo-unsplash\ \(1\).jpg");
    background-repeat: repeat-y;
    height: 18000px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .brewDogLogo {
    margin-left: 180px;
  }
  
  }