
main {
  background-image: url("../../assets/images/alexandre-brondino-thFMGJ5uWVo-unsplash\ \(1\).jpg");
  height: 1200px;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}