@import url("https://fonts.googleapis.com/css2?family=Fresca&family=Londrina+Shadow&family=Londrina+Solid:wght@100&display=swap");



$color-dark: #082032;
$font-body: 'Fresca', sans-serif;
$font-header-shadow: 'Londrina Shadow', cursive;
$font-header-solid: 'Londrina Solid', cursive;